<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html">
<head>
<meta charset="UTF-8">
<title>Listes des praticiens</title>
</head>
<body>
	<section layout:fragment="monContenu">
		<div class="card mt-3">
			<div class="card-header bg-info text-white">
				<h2>Listes des praticiens</h2>
			</div>
			<div class="card-body">
				<table id="praticienTable" class="table table-striped">
						<tr>
							<th>Civilite</th>
							<th>Nom</th>
							<th>Prenom</th>
							<th>Telephone</th>
							<th>Secteur</th>
							<th>Carte Vital</th>
							<th>Photo</th>
							<th>Cheque</th>
							<th>Espece</th>
							<th>Duree du creneau</th>
							<th>Specialite</th>
							<th></th>
						</tr>
						<tr th:each="pra : ${Praticien}">
							<td th:text="${eval.id}"></td>
							<td>[[${pra.civilite}]]</td>
							<td>[[${pra.nom}]]</td>
							<td>[[${pra.prenom}]]</td>
							<td>[[${pra.telephone}]]</td>
							<td>[[${pra.secteur}]]</td>
							<td>[[${pra.carteVital}]]</td>
							<td>[[${pra.photo}]]</td>
							<td>[[${pra.cheque}]]</td>
							<td>[[${pra.espece}]]</td>
							<td>[[${pra.dureeCreneau}]]</td>
							<td>[[${pra.specialite}]]</td>
							<td><div class="btn-group btn-group-sm">
								<a th:href="@{/praticien/edit(id=${pra.id})}" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
								<a th:href="@{/praticien/remove(id=${pra.id})}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
							</div></td>
						</tr>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/praticien/add}" class="btn btn-success btn-lg">
					<i class="bi bi-plus-square"></i>
				</a>
			</div>
		</div>
	</section>
</body>
</html>